.CheckoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1rem;
  background-color: white;
  height: max-content;
}

.CheckoutProduct-title {
  font-size: 20px;
  font-weight: 800;
}

.CheckoutProduct-image {
  object-fit: contain;
  width: 10rem;
  height: 10rem;
}

.CheckoutProduct-rating {
  margin-top: 7px;
}

.CheckoutProduct-info {
  padding-left: 1rem;
}

.CheckoutProduct-info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}
